<div>
	<div>
		<h3>Nuevo Candidato</h3>
	</div>
	<div>
		<form action="/vistaAdmi/agregar" method="POST">
			<div>
				<h3>Nombre:</h3>
				<input type="text" name="nombre" placeholder="Nombre" autofocus>
			</div>
			<div>
				<h3>Apellido:</h3>
				<input type="text" name="apellido" placeholder="Apellido">
			</div>
			<div>
				<h3>Grado:</h3>
				<input type="text" name="grado" placeholder="Grado">
			</div>
			<div>
				<h3>Curso:</h3>
				<input type="text" name="curso" placeholder="curso">
			</div>
			<div>
				<h3>Lema:</h3>
				<input type="text" name="lema" placeholder="lema">
			</div>
			<button type="submit">
				Guardar
			</button>

			
		</form>
	</div>
</div>