<div>
	<div>
		<h1>Entrada al sistema</h1>
		<form  action="/admi/admin" method="POST" >
			<div>
				<input type="gmail" name="gmail" placeholder="escribir gmail">
			</div>
			<div>
				<input type="password" name="password" placeholder="escribir password">
			</div>
			<button>
				Entrar
			</button>
		</form>
	</div>
</div>