<div>
	<div>
		<h1>Registrar Usuario Administrador</h1>
		<div>
			<form action="/admi/admreg" method="POST">
				<div>
					<input type="text" name="nombre" placeholder="nombre" value={{name}}>
				</div>
				<div>
					<input type="gmail" name="gmail" placeholder="gmail" value={{gmail}}>
				</div>
				<div>
					<input type="password" name="password" placeholder="password" value={{password}}>
				</div>
				<div>
					<input type="password" name="confir_password" placeholder="cofirmar password" value={{password}}>
				</div>
				<button>
					Registrarse
				</button>
			</form>
		</div>
	</div>
</div>