<section>
	<div>
		<h1>Acerca</h1>
		<p>
			Esta aplicacion esta desarrollada para las instituciones educativas con el objetivo de gestionar resultados de votaciones
			de personeria esto con el fin de agilizar el proceso de votacion, bridando seguridad y conllevar a instituciones o utilizar nuevas tecnologias.
		</p>
	</div>

</section>