<div class="jumbotron mt-4">
	<h1 class="display-3  ">Gestor de Votos Estudiantiles</h1>
	<p class="lead">Apliacion web para gestionar los votos de personeria y concejo estudiantil</p>
	<hr>
	<a class="btn btn-primary btn-lg" href="#" role="button">ingLandero</a>

</div>