<nav>
	<div >
		<a href="/">Inicio de App</a>
		<div >
			<ul >
				<li>
					<a href="/">Home <span>(current)</span> </a>
				</li>
				<li>
					<a href="/acerca">Acerca</a>
				</li>
			</ul>
			<ul>
				{{#if user}}
				<li>
					
					<div>
						<a href="/vistaAdmi/ver">Ver candidatos</a><br>
						<a href="/vistaAdmi/add">Agregar Candidatos</a><br>
						<a href="/admi/logout">salir</a>
					</div>
				</li>
				{{else}}
				<li>
					<a href="/admi/admin">Entrar</a>
				</li>
				<li>
					<a href="/admi/admreg">Registrarse</a>
				</li>
				{{/if}}
			</ul>
		</div>
	</div>

</nav>