<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Gestor de votos educativos</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>
<body>
	{{>navigation}}
<main>
	  {{> messages }}
      {{> errors }}
      {{{ body }}}
 </main>
	
<script type="text/javascript" src="/js/bootstrap.min.js" ></script>
</body>
</html>